<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezhixuan.blog.mapper.MessageTaskMapper">

    <resultMap id="BaseResultMap" type="com.ezhixuan.blog.domain.entity.message.MessageTask">
            <id property="id" column="id" />
            <result property="taskId" column="task_id" />
            <result property="messageType" column="message_type" />
            <result property="businessId" column="business_id" />
            <result property="businessType" column="business_type" />
            <result property="sender" column="sender" />
            <result property="recipients" column="recipients" />
            <result property="subject" column="subject" />
            <result property="content" column="content" />
            <result property="extraData" column="extra_data" />
            <result property="priority" column="priority" />
            <result property="status" column="status" />
            <result property="retryCount" column="retry_count" />
            <result property="maxRetry" column="max_retry" />
            <result property="nextRetryTime" column="next_retry_time" />
            <result property="errorMessage" column="error_message" />
            <result property="executeTime" column="execute_time" />
            <result property="completeTime" column="complete_time" />
            <result property="expiredTime" column="expired_time" />
            <result property="createdTime" column="created_time" />
            <result property="updatedTime" column="updated_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,message_type,business_id,business_type,sender,
        recipients,subject,content,extra_data,priority,
        status,retry_count,max_retry,next_retry_time,error_message,
        execute_time,complete_time,expired_time,created_time,updated_time
    </sql>
</mapper>
