<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezhixuan.blog.mapper.ProjDocArtMapper">

    <resultMap id="BaseResultMap" type="com.ezhixuan.blog.domain.entity.ProjDocArt">
            <id property="docId" column="doc_id" />
            <id property="articleId" column="article_id" />
            <result property="sortOrder" column="sort_order" />
    </resultMap>

    <sql id="Base_Column_List">
        doc_id,article_id,sort_order
    </sql>
    <update id="compactSortOrder">
         <![CDATA[
        UPDATE proj_doc_art p
            JOIN (SELECT article_id,
                         (@rank := @rank + 10) AS new_sort
                  FROM (SELECT article_id
                        FROM proj_doc_art
                        WHERE doc_id = #{docId}
                        ORDER BY sort_order, article_id) ordered,
                       (SELECT @rank := 0) r) t ON t.article_id = p.article_id
        SET p.sort_order = t.new_sort
        ]]>
    </update>
</mapper>
